---
import BaseLayout from "../layouts/BaseLayout.astro"

import BlogPostPreview from "../components/BlogPostPreview.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")

const pageTitle = "Das Pandaimonion"
---

<BaseLayout pageTitle={pageTitle}>
	<main class="text-slate-200 grid grid-cols-3 gap-4 p-20">
		{
			allPosts.reverse().map((post) => (
				<BlogPostPreview
					url={post.url}
					title={post.frontmatter.title}
					description={post.frontmatter.description}
					content={post.rawContent()}
				/>
			))
		}
	</main>
</BaseLayout>
