---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="relative mb-10">
		<img
			class="w-full h-96 object-cover"
			src={frontmatter.image.url}
			alt={frontmatter.image.alt}
		/>

		<div class="bg-black p-2 absolute w-full bottom-0">
			<h1 class="m-0 text-4xl">
				{frontmatter.title}
			</h1>
			<em>{frontmatter.description}</em>
		</div>
	</div>

	<article class="prose prose-lg mx-auto px-2">
		<em class="text-sm">{frontmatter.pubDate.slice(0, 10)}</em>

		<slot />

		<p>
			<a href="/about">{frontmatter.author}</a>
		</p>

		<span
			class="text-xl w-60 mx-auto font-mono border-t-4 text-fuchsia-800 border-fuchsia-300 border-double border-opacity-40"
		></span>

		<div class="flex justify-around">
			{
				frontmatter.tags.map((tag: any) => (
					<p class="tag">
						<a href={`/tags/${tag}`}>{tag}</a>
					</p>
				))
			}
		</div>
	</article>
</BaseLayout>
