---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
	<!-- <img
		src={frontmatter.image.url}
		alt={frontmatter.image.alt}
	/> -->
	<p>
		{frontmatter.title}
	</p>

	<p>
		<em>{frontmatter.description}</em>
	</p>

	<slot />

	<p>{frontmatter.author} on {frontmatter.pubDate.slice(0, 10)}</p>

	<span
		class="text-xl w-60 mx-auto font-mono border-t-4 text-fuchsia-800 border-fuchsia-300 border-double border-opacity-40"
	></span>
	<div class="flex justify-around">
		{
			frontmatter.tags.map((tag: any) => (
				<p class="tag">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</div>
</BaseLayout>
